* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    height: 100vh;
}

div {
    border: 1px solid red;
}

.header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: lightblue;
}

.sidebar,
.sidebar_logo,
.sidebar_nav,
.sidebar_tools {
    display: grid;
}

.sidebar {
    grid-area: 1 / 1 / 6 / 2;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 2.5fr) repeat(1, 2fr);
}

.sidebar_logo {
    height: 100px;
}

.sidebar_nav {
    height: 320px;
}

.sidebar_tools {
    height: 160px;
}

.main_content {
    grid-area: 2 / 2 / 6 / 5;
    background-color: pink;
}