* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    height: 100vh;
}

div {
    border: 1px solid red;
}

.header,
.header_search_container,
.header_profile_container,
.header_introduction_container,
.header_button_container,
.sidebar,
.sidebar_logo,
.sidebar_nav,
.sidebar_tools,
.main_content {
    display: grid;
}

/* Header styles */

.header {
    grid-area: 1 / 2 / 2 / 5;

    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header_search_container {
    grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
}

.header_profile_container {
    grid-template-columns: repeat(2, 1fr) repeat(1, 2fr);
}

.header_introduction_container {
    grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
}

.header_button_container {
    grid-template-columns: repeat(3, 1fr);
}

/* Sidebar styles */

.sidebar {
    grid-area: 1 / 1 / 6 / 2;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 2.5fr) repeat(1, 2fr);
}

.sidebar_logo {
    height: 100px;
}

.sidebar_nav {
    height: 320px;
}

.sidebar_tools {
    height: 160px;
}

/* Main-content styles */

.main_content {
    grid-area: 2 / 2 / 6 / 5;

    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.main_content_projects {
    grid-area: 1 / 1 / 7 / 2;
}

.main_content_announcements {
    grid-area: 1 / 2 / 4 / 3;
}

.main_content_trending {
    grid-area: 4 / 2 / 7 / 3;
}