* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    height: 100%;
}

.header,
.header_search_container,
.header_profile_container,
.header_introduction_container,
.header_button_container,
.sidebar,
.sidebar_logo,
.sidebar_nav,
.sidebar_tools,
.main_content,
.main_content_projects,
.main_projects_container,
.main_project_card,
.project_card_btn_container,
.main_content_announcements,
.main_announcements_card,
.main_content_trending,
.main_trending_card,
.main_trending_item {
    display: grid;
}

/* Header styles */

.header {
    grid-area: 1 / 2 / 2 / 5;

    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 2fr);

    box-shadow: 0 5px 5px -5px gray;
    position: relative;
}

.header_search_container {
    grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
}

.header_profile_container {
    grid-template-columns: repeat(2, 1fr) repeat(1, 2fr);
}

.header_introduction_container {
    grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
}

.header_button_container {
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.header_btn {
    margin: 5px;
    border: 0;
    border-radius: 25px;
    background-color: #0ea5e9;
    color: white;

    height: 45px;
    width: 100px;
}

/* Sidebar styles */

.sidebar {
    grid-area: 1 / 1 / 6 / 2;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 125px 345px 185px;

    background-color: #0ea5e9;
}

.sidebar_logo {
    height: 90px;
}

.sidebar_nav {
    height: 320px;
}

.sidebar_tools {
    height: 160px;
}

/* Main-content styles */

.main_content {
    grid-area: 2 / 2 / 6 / 5;

    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: 20px;
    padding: 10px 20px 10px 20px;

    background-color: #f4f4f5 /*Use for search bar inside background*/;
}

.main_content_projects,
.main_content_announcements,
.main_content_trending {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 10fr);
}

    /* Main-content Projects styles */

.main_content_projects {
    grid-area: 1 / 1 / 7 / 2;
}

.main_projects_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 20px;
}

.main_project_card {
    box-shadow: 5px 5px 5px -4px gray, 0px 0px 5px -1px gray;
    border-radius: 5px;
    border-left: solid 10px #f59e0b;
    background-color: white;
}

.project_card_title {
    grid-area: 1 / 1 / 2 / 2;
}

.project_card_desc {
    grid-area: 2 / 1 / 5 / 2;
}

.project_card_title,
.project_card_desc {
    padding-left: 20px;
    padding-right: 20px;
}

.project_card_btn_container {
    grid-area: 5 / 1 / 6 / 2;
    
    grid-template-columns: repeat(6, 1fr);
}

.project_card_btn_fav {
    grid-area: 1 / 4 / 2 / 5;
}

.project_card_btn_watch {
    grid-area: 1 / 5 / 2 / 6;
}

.project_card_btn_share {
    grid-area: 1 / 6 / 2 / 7;
}
    /* Main-content Announcement Styles */

.main_content_announcements {
    grid-area: 1 / 2 / 4 / 3;
}

.main_announcements_card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    box-shadow: 5px 5px 5px -4px gray, 0px 0px 5px -1px gray;
    border-radius: 5px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.announcement_1,
.announcement_2 {
    border-bottom: solid 1px black;
}

    /* Main-content Trending Styles */

.main_content_trending {
    grid-area: 4 / 2 / 7 / 3;
}

.main_trending_card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.main_trending_item {
    grid-template-columns: repeat(1, 1fr) repeat(1, 2fr);
}

.trending_item_img {
    grid-area: 1 / 1 / 3 / 2;
}

.trending_item_name {
    grid-area: 1 / 2 / 2 / 3;
}

.trending_item_desc {
    grid-area: 2 / 2 / 3 / 3;
}